.signup {
    h2 {
        margin-bottom: 50px;
    }
    form {
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
    }
    input[type='radio'] {
        width: 20px;
        height: 20px;
    }
}