@supports not (background-image: url('assets/images/hero-bg.webp')) {
	.hero {
		background: bottom / cover no-repeat;
		background-image: url('assets/images/hero-bg.jpg');
	}
}
@supports (background-image: url('assets/images/hero-bg.webp')) {
	.hero {
		background: bottom / cover no-repeat;
		background-image: url('assets/images/hero-bg.webp');
	}
}

.hero {
    margin: 0 auto;
    height: 650px;
    width: 100%;
    max-width: 1170px;
    color: $white;
    flex-direction: column;
    position: relative;
    margin-top: 60px;
    @include flex-center;
    @include media-mobile {
        height: 500px;
    }


    &::after {
        content: '';
        background: rgb(0 0 0 / 50%);
        position: absolute;
        inset: 0;
    }

    img {
        width: 200px;
        height: 200px;
    }

}

.hero_inner {
    width: 100%;
    max-width: 380px;
    text-align: center;
    position: relative;
    z-index: 1;

    p {
        margin-bottom: 32px;
    }

    button {
        margin: 0 auto;
    }
}

.title {
    margin-bottom: 21px;
}