.header {
    background: #FFF;
    padding: 13px 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
}

.wrapper {
    @include flex-between;
    @include media-tablet {
        padding-inline: 45px;
    }
    @include media-mobile {
        padding-inline: 17px;
    }
    @include media-middle-mobile {
        padding-inline: 1px;
    }
}

.logo {
    svg {
        width: 104px;
        height: 26px;
    }
}

.button_wrapper {
    @include flex-between;
    gap: 10px;
}