@font-face {
    font-family: 'Nunito-Regular';
    src: url('../assets/fonts/Nunito-Regular.eot'),
    url('../assets/fonts/Nunito-Regular.woff') format('woff'),
    url('../assets/fonts/Nunito-Regular.woff2') format('woff2');
    font-display: swap;
}