html {
    scroll-behavior: smooth;
}

body {
    font-family: $main-font;
    color: $body-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    background: $main-bg-color;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding: 0 15px;
}