$main-font: 'Nunito-Regular', serif;
$title-font: 'Nunito-Regular', serif;

$body-text-color: rgba(0, 0, 0, 0.87);
$errors-color: #CB3D40;
$primary: #F4E041;
$secondary: #00BDD3;
$white: #FFFFFF;
$black: rgba(0, 0, 0, 0.87);
$gray: #7E7E7E;

$input-color: #D0CFCF;
$input-color-hover: #D0CFCF;
$input-text-color-filled: rgba(0, 0, 0, 0.87);
$input-color-focus: #D0CFCF;
$input-text-color-focus: rgba(0, 0, 0, 0.87);
$input-color-disabled: #D0CFCF;
$input-color-error: #CB3D40;

$button-bg-hover: #FFE302;
$button-bg-disabled: #B4B4B4;
$button-color-disabled: rgba(255, 255, 255, 0.87);

$main-bg-color: #F8F8F8;

$desktop-breakpoint: 1400px;
$tablet-breakpoint: 1200px;
$small-tablet-breakpoint: 992px;
$mobile-breakpoint: 768px;
$small-mobile-breakpoint: 576px;